imageio
jupyterlab
matplotlib
notebook
numpy
opencv-contrib-python
pandas
scipy
seaborn
tifffile
timm
tqdm
prophet
xgboost
scikit-learn
scikit-image
transformers
huggingface_hub
tokenizers
datasets
gradio
diffusers
bitsandbytes
optimum
accelerate
deepspeed
transformer-engine
wandb
mlflow
minio
