imageio
jupyterlab
matplotlib
notebook
numpy
opencv-contrib-python
Pillow
PyYAML
requests
scipy
tqdm
thop
psutil
tifffile
albumentations
einops
timm
efficientnet-pytorch
pandas
seaborn
prophet
xgboost
scikit-learn
scikit-image
transformers
huggingface_hub
tokenizers
datasets
diffusers
bitsandbytes
optimum
accelerate
deepspeed
transformer-engine
wandb
mlflow
minio
gradio
